# compiled output
dist
tmp
out-tsc

# IDE
.idea
.project
.classpath

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# System Files
.DS_Store
Thumbs.db

package-lock.json

node_modules/
node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision

#amplify
amplify/*
src/aws-exports.js
src/graphql
src/aws-exports.js

awsconfiguration.json
.graphqlconfig.yml

build/
dist/
